<nav class="">
  <div class="nav-wrapper ">
    <a href="" class="title">&nbsp&nbsp&nbspIndigenous Art Museum</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="add_item">Add Item</a></li>
      <li><a href="alter_item">Alter Item</a></li>
      <li><a href="remove_item">Remove Item</a></li>
      <li><a href="add_images">Add Images</a></li>
      <li><a href="add_artist">Add Artist</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="add_item">Add Item</a></li>
      <li><a href="alter_item">Alter Item</a></li>
      <li><a href="remove_item">Remove Item</a></li>
      <li><a href="add_images">Add Images</a></li>
      <li><a href="add_artist">Add Artist</a></li>
    </ul>
  </div>
</nav>
